:root {

    --clr-primary-pers-1: hsl(263, 55%, 52%);
    --clr-primary-pers-2: hsl(217, 19%, 35%);
    --clr-primary-pers-3: hsl(219, 29%, 14%);
    --clr-primary-pers-girls: hsl(0, 0%, 100%);

    --clr-neutral-gb: hsl(0, 0%, 81%);
    --clr-neutral-bg: hsl(210, 46%, 95%);

    --animation-card-1: 500ms;
    --animation-card-2: calc(var(--animation-card-1) + 100ms);
    --animation-card-3: calc(var(--animation-card-2) + 100ms);
    --animation-card-4: calc(var(--animation-card-3) + 100ms);
    --animation-card-5: calc(var(--animation-card-4) + 100ms);
    
}

* {
    display: border-box;
    margin: 0;
    padding: 0;
}


/* Table of contents

1. Global stlyes

2. Typography

3. Components

4. Animation

5. Media Query

*/


/* ================
   1. Global styles
   ================ */


body {
    background-color: var(--clr-neutral-bg);
}

.grid-item-1 {
    background-color: var(--clr-primary-pers-1);
    
}

.grid-item-2 {
    background-color: var(--clr-primary-pers-2);
}

.grid-item-3,
.grid-item-5 {
    background-color: var(--clr-primary-pers-girls);
}

.grid-item-4 {
    background-color: var(--clr-primary-pers-3);
}

.color-1 {
    color: var(--clr-primary-pers-girls);
}

.color-2 {
    color: var(--clr-primary-pers-3);
}

.vg-1 {
    color: var(--clr-primary-pers-girls);
    opacity: 50%;
}

.vg-2 {
    color: var(--clr-primary-pers-3);
    opacity: 50%;
}

.quote-1 {
    color: var(--clr-primary-pers-girls);
    opacity: 70%;
}

.quote-2 {
    color: var(--clr-primary-pers-3);
    opacity: 70%;
}


/* ================
   2. Typography
   ================ */


body {
    font-size: 0.813rem;
    font-family: "Barlow Semi Condensed";
    line-height: 1.3;
    font-weight: 500;
}

h1 {
    font-weight: 500;
    line-height: 1.2;
    font-size: 1.23rem;
}


/* ================
   3. Components
   ================ */


body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

main {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-template-rows: repeat(2, auto);
    grid-gap: 20px;
    width: 70.5%;
    max-width: 70rem;
}

.card {
    border-radius: .5rem;
    padding: 2em;
}

.grid-item-1,
.grid-item-4 {
    grid-column: span 2;
}

.grid-item-5 {
    grid-row: span 2;
}

img {
    float:left;
    border-radius: 50%;
    width: 1.5rem;
    margin-top: 0.2em;
    margin-right: 1em;
    border: 2px solid rgba(255, 255, 255, 0.5);
}

h1 {
    position: relative;
    padding-top: .6em;
    padding-bottom: 1em;
    z-index: 3;
}

.grid-item-1 {
    position: relative;
    z-index: 1;
}

.grid-item-1::before {
    content: url(/images/bg-pattern-quotation.svg);
    position: absolute;
    top: 0;
    right: 5rem;
    z-index: 2;
}

.quote-1,
.quote-2 {
    padding-right: 1.2em;
}

.vg-1, 
.vg-2 {
    font-size: .7rem;
}


/* ================
   4. Animation
   ================ */


.card {
    transition: transform .4s;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: inset rgba(255, 255, 255, 0.1) 0px 5px 80px;
    
}

.grid-item-1 {
    animation: card-1 var(--animation-card-1) ease-out;
}

.grid-item-2 {
    animation: card-2 var(--animation-card-2) ease-out;
}

.grid-item-3 {
    animation: card-3 var(--animation-card-3) ease-out;
}

.grid-item-4 {
    animation: card-4 var(--animation-card-4) ease-out;
}

.grid-item-5 {
    animation: card-5 var(--animation-card-5) ease-out;
}

@keyframes card-1 {
    0% {
        transform: translateX(-50%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes card-2 {
    0% {
        transform: translateY(-30%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes card-3 {
    0% {
        transform: translateX(-50%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes card-4 {
    0% {
        transform: translateY(30%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes card-5 {
    0% {
        transform: translateX(50%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


/* ================
   5. Media Query
   ================ */


@media all and (max-width: 1447px) {
    body{
        margin: 5em 0;
    }
    .grid-item-3 {
        grid-column: span 2;
    }

    @keyframes card-3 {
        0% {
            transform: translateX(50%);
            opacity: 0;
        }
    
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

    @keyframes card-5 {
        0% {
            transform: translateX(-50%);
            opacity: 0;
        }
    
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }
}

@media all and (max-width: 1077px) {

    .grid-item-3 {
        grid-column: span 1;
    }

    @keyframes card-3 {
        0% {
            transform: translateX(-50%);
            opacity: 0;
        }
    
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

    @keyframes card-5 {
        0% {
            transform: translateX(50%);
            opacity: 0;
        }
    
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }
}

@media all and (max-width: 700px) {
    main {
        min-width: 300px;
    }

    .grid-item-1::before {
        right: 1rem;
    }

    .card {
        grid-row: span 1;
        grid-column: span 1;
}

    *{
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
}

}
